body {
  font-family: "Jost", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

.p-15{
  padding: 15px !important;
}
a{
  color: #198754;
  text-decoration: none;
  font-weight: 500; 
}
.form-check-input, .form-check-label{
  cursor: pointer;
}
.form-check-input:checked{
  background-color: #198754;
  border-color: #198754;
}
.box_shadow{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dropdown-menu[data-bs-popper]{
  left: -70px;
}
.hvr-underline-from-left:before{
  background: #198754 !important;
  height: 3px !important;
}
.hvr_underline{
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr_underline:before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #198754 !important;
  height: 3px;
}
.gradient_background{
  background: -webkit-linear-gradient(0deg, #264d3f 0, #08261d 100%);
  background: -moz-linear-gradient(90deg, #264d3f 0, #08261d 100%);
  background: linear-gradient(90deg, #264d3f 0, #08261d 100%);
}
#sidebar-nav {
  width: 250px;
}

.delete_button i{
  color: white;
}
.delete_button{
  background: red;
  border-radius: 50%;
  padding: 6px 9px 4px 9px;
  text-align: center;
  z-index: 9;
  margin-right: -10px;
}

section.sections {
  margin-top: 7rem !important;
}
.post_date{
  top: -18px;
  background-color: #198754;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  font-size: 0.9rem;
  right: 13px;
}

.file_container{
  width:100%;
}
.card_header{
  height: 250px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

a.page-link span, li.page-item a{
  color: #198754 !important;
}
li.active a{
  background-color: #198754 !important;
  color: white !important;
} 

li.dropdown-item{
  cursor: pointer;
}
.form-control::placeholder{
  opacity: 0.5 !important;
}

.dropdown-toggle.no_arrow::after{
  display: none;
}

#lesson_title, #module_title{
  line-height: 38px;
}

.nav_category{
  color: black;
}
.nav_category:hover{
  color: #198754;
}
.nav_category.active{
  background-color: #198754 !important;
}
.image-center{
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.h-200{
  height: 200px;
}

.course_side{
  margin-top: -250px;
}
.profile_cover{
  height: 140px;
  background: #198754;
}

.profile_info{
  margin-top: -80px;
}
.profile_initial .letter{
  font-size: 5rem;
  background-color: #198754;
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  text-align: center;
  border: 1rem solid white;
}

.accordion-button:not(.collapsed){
  background-color: #d1e7dd;
  color: black;
}
.accordion-button:focus{
  box-shadow: none;
}

.alert_home{
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%,50%);
  width: max-content;
}

.category_top{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  margin: -15px -10px 0 15px;
  background-color: #198754;
  color: white;
}

.admin_sidenav .nav-pills .nav-link.active{
  background-color: #198754;
}


/* Comment style */

.comment-option button, .comment-option a{
  font-size: 13px;
}
.like input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

svg {
  position: relative;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  transition: all 0.3s;
  fill: #666;
  margin-right: 5px;
  cursor: pointer;
}

svg:hover {
  transform: scale(1.1) rotate(-10deg);
}

.like input:checked ~ svg {
  fill: rgb(0, 0, 255);
}

.noarrow.dropdown-toggle::after{
  all: initial;
}
.comment-dropdown ul li a, .comment-dropdown ul li button{
  font-size: 13px;
}

.btn-link{
  color: #198754;
}
.btn-link:hover{
  color: #146c43;
}

/* responsive */
/* Styles for screens smaller than 768px */
@media screen and (max-width: 767px) {

  .course_side{
    margin-top: -0;
    margin-top: 10px;
  }


}


